./Group Project/Post-Processing/Results/EngineData.mat
./LE2/Thermodynamics_Lecture 4.pptx
./LE3/Thermodynamics_Lecture 5.pptx
./LE4/Thermodynamics_Lecture 7.pptx
./LE4/Thermodynamics_Lecture 8.pptx
./LE5/EES/EES.pptx
./LE5/EES/Engineering Equation Solver (EES)-20220204.zip
./LE5/Lecture 10 -Renewable Energy Systems-Part2.pptx
./LE5/Lecture 9 Renewable Energy Solar Photovoltaic (Solar PV).pptx